/mfrr_classify/models/
/mfrr_classify/AutogluonModels/
/**/models/
*.pkl
*.pt
*.h5
*.pickle
*.joblib
/mfrr_classify/.env

/blackjack/
/tictactoe/
/windygridworld/
/upreg_classify/
/.idea/

**/_archive/
**/_archive/**

# Ignore LaTeX project and outputs
/LaTeX/
/LaTeX/**

